@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    color: white; /* Set text color to white for all elements */
}

body{
    font-family: 'Inter', sans-serif; 
    background-color: #333333; 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 1.5rem;
  }

.menu-item {
    width: 250px;
    height: 50px;
    font-size: 0.9rem; 
    background-color: #555555; 
    text-align: center;
    line-height: 50px; 
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
  display: flex;
}

ul {
    padding: 0; 
    list-style: none; 
    margin: 0;
}

.hover {
    background-color: #666666;
}

.selected{
    background-color: #777777;
}
