body {
  font-family: "Inter", sans-serif;
  background-color: #111113;
  color: #fff;
}

ul {
  width: 150px;
  size: 10px;
  background-color: #111113;
  padding: 10px;
}

ul li {
  display: block;
  color: #bbb;
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.hover {
  color: #fff;
}

.selected {
  background-color: #1c1c20;
  color: #ffffff;
}

.container {
  display: flex;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  padding: 20px;
}

#visual-title {
  text-align: center;
  margin-bottom: 10px;
}

#sliders {
  text-align: center;
  margin-bottom: 10px;
}
